<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>角色授权</title>
    <link rel="stylesheet" href="/static/module/layui/css/layui.css">
    <script src="/static/module/jquery/jquery-3.7.1.min.js"></script>
    <script src="/static/module/layui/layui.js"></script>
    <script src="/static/js/request.js"></script>
    <script src="/static/module/xm-select/xm-select.js"></script>
    <script src="/static/admin/js/role/auth.js"></script>
</head>
<body style="padding: 20px;">
    <form class="layui-form" lay-filter="roleAuthForm">
        <input type="hidden" name="id">
        
        <div class="layui-form-item">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" class="layui-input" readonly>
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">角色编码</label>
            <div class="layui-input-block">
                <input type="text" name="code" class="layui-input" readonly>
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">菜单权限</label>
            <div class="layui-input-block">
                <div id="menuTree"></div>
            </div>
        </div>
        
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="roleAuthForm">保存</button>
                <button type="button" class="layui-btn layui-btn-primary" onclick="cancel()">取消</button>
            </div>
        </div>
    </form>
</body>
</html> 